:root {
   --area-porta-altura: 310px;
   --area-porta-largura: 200px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #fff;
  background: #444;
}

a {
   color: inherit;
   text-decoration: none;
}

